<footer>
        <br> 
        <ul>
            <li><a href="https://github.com/christinanm" target="_blank" rel="noopener noreferrer">GitHub</a> </li> &#11049;
            <li><a href="https://christinanm.github.io/" target="_blank" rel="noopener noreferrer">GitHub.io</a> </li> &#11049;
            <li><a href="https://christinanm.github.io/web115/" target="_blank" rel="noopener noreferrer">WEB115.io</a> </li> &#11049;
            <li><a href="https://www.freecodecamp.org/christinamekheil" target="_blank" rel="noopener noreferrer">freeCodeCamp</a> </li> &#11049;
            <li><a href="https://www.codecademy.com/profiles/cmekhei0" target="_blank" rel="noopener noreferrer">Codecademy</a> </li> &#11049;
            <li><a href="https://jsfiddle.net/u/christinanm/fiddles/" target="_blank" rel="noopener noreferrer">JSFiddle</a></li> &#11049; 
            <li><a href="https://www.linkedin.com/in/christina-mekheil/" target="_blank" rel="noopener noreferrer">LinkedIn</a> </li>

        </ul>
	
        <small>Made with &#x2764;&#xfe0e; by <i>Christina Mekheil</i> &copy;2024 | Certified in <a href="https://www.freecodecamp.org/certification/christinamekheil/responsive-web-design">Responsive Web Design</a>
	and <a href="https://www.freecodecamp.org/certification/christinamekheil/javascript-algorithms-and-data-structures-v8">JavaScript Algorithms and Data Structures</a></small>
    </footer>
