<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap"
    rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

    <script src="https://lint.page/kit/67ff88.js"
    crossorigin="anonymous">
    </script>
</head>
<body>
    <main>
    </main>
    <footer>

        <br> 
        <a href="https://github.com/christinanm" target="_blank" rel="noopener noreferrer">GitHub</a> &#11049;
        <a href="https://christinanm.github.io/" target="_blank" rel="noopener noreferrer">GitHub.io</a> &#11049;
        <a href="https://christinanm.github.io/web115/" target="_blank" rel="noopener noreferrer">WEB115.io</a> &#11049;
        <a href="https://www.freecodecamp.org/christinamekheil" target="_blank" rel="noopener noreferrer">freeCodeCamp</a> &#11049;
        <a href="https://www.codecademy.com/profiles/cmekhei0" target="_blank" rel="noopener noreferrer">Codecademy</a> &#11049;
        <a href="https://jsfiddle.net/u/christinanm/fiddles/" target="_blank" rel="noopener noreferrer">JSFiddle</a> &#11049; 
        <a href="https://www.linkedin.com/in/christina-mekheil/" target="_blank" rel="noopener noreferrer">LinkedIn</a>  
				
        <br> <br>
	
        <small>Made with ♡ by <i>Christina Mekheil</i> &copy;2024</small>
    </footer>
</body>
</html>