<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Cy's Computers</title>
    <link rel="stylesheet" href="./styles/default.css">
    <link href="https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap"
    rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

    <script src="https://lint.page/kit/67ff88.js"
    crossorigin="anonymous">
    </script>
</head>
<body>
    <main>
    </main>
    <footer>

        <br> 
        <ul>
            <li><a href="https://github.com/christinanm" target="_blank" rel="noopener noreferrer">GitHub</a> </li> &#11049;
            <li><a href="https://christinanm.github.io/" target="_blank" rel="noopener noreferrer">GitHub.io</a> </li> &#11049;
            <li><a href="https://christinanm.github.io/web115/" target="_blank" rel="noopener noreferrer">WEB115.io</a> </li> &#11049;
            <li><a href="https://www.freecodecamp.org/christinamekheil" target="_blank" rel="noopener noreferrer">freeCodeCamp</a> </li> &#11049;
            <li><a href="https://www.codecademy.com/profiles/cmekhei0" target="_blank" rel="noopener noreferrer">Codecademy</a> </li> &#11049;
            <li><a href="https://jsfiddle.net/u/christinanm/fiddles/" target="_blank" rel="noopener noreferrer">JSFiddle</a></li> &#11049; 
            <li><a href="https://www.linkedin.com/in/christina-mekheil/" target="_blank" rel="noopener noreferrer">LinkedIn</a> </li>

        </ul>
	
        <small>Made with &#x2764;&#xfe0e; by <i>Christina Mekheil</i> &copy;2024 | Certified in <a href="https://www.freecodecamp.org/certification/christinamekheil/responsive-web-design">Responsive Web Design</a></small>
    </footer>
</body>
</html>