<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Cy's Computers</title>
    <link rel="stylesheet" href="./styles/default.css">
    <link href="https://fonts.googleapis.com/css2?family=Poly:ital@0;1|Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
    
    <script src="https://lint.page/kit/67ff88.js"
    crossorigin="anonymous">
    </script>
</head>
<body>
    <header>
        <h1>Cy's Computers</h1>
        <a href="./index.html">Home</a> &#11049;
        <a href="./introduction.html">Introduction</a> &#11049;
        <a href="./contract.html">Contract</a> &#11049; 	
        <a href="./brand.html">Brand</a> 
        <br>  	
        <br>
        Fizz Buzz: 
        <br>
        <a href="./fizzbuzz0.1.html">0.1</a> &#11049;
        <a href="./fizzbuzz0.2.html">0.2</a> &#11049;
        <a href="./fizzbuzz1.html">1</a> &#11049;
        <a href="./fizzbuzz2.html">2</a> &#11049;
        <a href="./fizzbuzz3.html">3</a>
    </header>
    <main>
    </main>
</body>
</html>