<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Cy's Computers</title>
     <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="./styles/default.css">
    <link href="https://fonts.googleapis.com/css2?family=Poly:ital@0;1|Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
    
    <script src="https://lint.page/kit/67ff88.js"
    crossorigin="anonymous">
    </script>
</head>
<body>
    <header>
        <h1>Cy's Computers</h1>

        <img class="header-img" src="/images/cys_computers_logo_header.png" alt="Cy's Computers Logo">

        <ul>
            <li><a href="./index.html">Home </a></li> &#11049;
            <li><a href="./introduction.html">Introduction</a></li> &#11049;
            <li><a href="./contract.html">Contract</a></li> &#11049;
            <li><a href="./brand.html">Brand</a></li> &#11049;

            <li>
            <a href="#">Fizz Buzz &#x25BE; </a>
            <ul class="dropdown-nav">
                <li><a href="./fizzbuzz0.1.html">0.1</a></li>
                <li><a href="./fizzbuzz0.2.html">0.2</a></li>
                <li><a href="./fizzbuzz1.html">1</a></li>
                <li><a href="./fizzbuzz2.html">2</a></li>
                <li><a href="./fizzbuzz3.html">3</a></li>
            </ul>
            </li>
        </ul>
    </header>
    <main>
    </main>
</body>
</html>