body {
  color: white;
  background-color: lightblue;
}

header {
  text-align: center;
}

p {
  font-family: "Poly", serif;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

